{% extends 'base.html.twig' %}

{% block title %}Connectez-vous * Quai-Antique{% endblock %}

{% block body %}
{% include "partials/_header.html.twig" %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}   
    <div id="main-connexion" class="container-fuid">
      <div class="row">
        <div class="card col-md-6 mb-3 offset-md-3">
          <div class=" mt-5 my-5">
            <form class="card-body cardbody-color p-lg-5">
              <div class="mb-3">
                {% if app.user %}
                  <div class="mb-3 text-center">
                    Vous êtes connectez {{ app.user.email }} <a href="{{ path('app_logout') }}">Déconnexion</a>
                  </div>
                {% endif %}
                <h2 class="text-center text-dark mt-5">Connectez-vous</h2>
                <div>
                  <label class="fw-bold" for="inputEmail">Email</label>
                  <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" required autofocus>
                </div>
                <div class="mb-3">
                  <label class="fw-bold" for="inputPassword">Mot de passe</label>
                  <input type="password" name="password" id="inputPassword" class="form-control mb-3" required>
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="text-center">
                 <button id="btn-connexion" class="btn btn-primary text-center">
                    Se connecter
                 </button>
                </div>
              <div id="emailHelp" class="text-center text-dark">Pas encore de compte ? <a href={{ path('app_register') }} class="text-dark fw-bold"> Créez un compte</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
</form>
{% include "partials/_footer.html.twig" %}
{% endblock %}

