{% extends 'base.html.twig' %}

{% block title %}Quai-Antique * Restaurant gastronomique{% endblock %}

{% block body %}
    {% include "partials/_header.html.twig" %}
     <div id="main-haut" class="container-fuid mt-5">
      <img id="img-main" src={{ asset('build/images/Main.png') }} class="img-fluid center" alt="Restaurant">
      <div class="text-center">
        <a href={{ path('app_order') }} id="btn-R" type="button" class="btn .btn-gold btn-light btn-lg">Réservez</a>
      </div>
     </div> 
     <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 id="tittle-resto">RESTAURANT GASTRONOMIQUE <br> D'EXCEPTION À CHAMBÉRY </h1>
          <hr style="color: rgba(192, 157, 70, 1);">
          <h2 id="sub-tittle">De l'écorce à l'âme</h2>
          <p id="p-resto">Au bord du lac du Bourget notre restaurant gastronomique déploie une approche locavore en favorisant les légumes, <br> 
            herbes et fruits cultivés sur les domaines voisins et en privilégiant des relations
             durables avec les producteurs et éleveurs de la région.</p>
          <hr style="color: rgba(192, 157, 70, 1);">
        </div>
      </div>
     </div>
     <div id="main-menu" class="container-fluid">
      <div class="row mx-0 align-items-center">
        <div id="menu" class="col-md-4 mt-5 text-center align-items-center order-1">
          <h2 id="tittle-menu">"Une expérience gustative singulière et poétique”</h2>
          <p id="text-menu">Au Quai-Antique, le chef Arnaud Michant, cherche une vérité cachée dans chaque ingrédient pour  créer des associations nouvelles, des accords inédits, des textures surprenantes tout en respectant l’intention initiale portée par la nature. <br>
          “ Nous travaillons l’entièreté du produit. Un choix pour nous approcher davantage de son intimité… et une vraie source d’inspiration, pour une table renouvelée au gré des saisons ”, <br>
           souligne Arnaud Michant. <br>
          </p>
          <a href={{ path('app_order') }} id="btn-R2" type="button" class="btn btn-light btn-lg">Réservez</a>
          <a href={{ path('app_carte') }} id="btn-M1" type="button" class="btn btn-light btn-lg">Notre carte</a>
        </div>
       <div id="photo-menu" class="col-md-4 text-center order-0">
        <img class="img-fluid rounded" src={{ asset('build/images/Dessert.jpg') }} alt="Dessert">
       </div>
       <div id="photo-menu1" class="col-md-4 text-center order-2">
        <img class="img-fluid rounded" src={{ asset('build/images/Dessert2.jpg') }} alt="Dessert 2">
       </div>
      </div>
     </div>
     <div class="container">
      <div class="row mx-auto mt-5 text-center">
        <i class="fa-solid fa-star"></i>
        <h2 id="tittle-hour">Ouvert du mardi au dimanche soir</h2>
       <i class="fa-solid fa-star"></i>
        <p>de 19h30 à 23h30</p>
      </div>
     </div>
     <div id="main" class="container">
      <div class="row mx-0 mt-5 align-items-center">
        <div id="sidebar" class="col-md-6 text-center">
          <img id="photo-chef" class="img-fluid rounded" src={{ asset('build/images/man-890885_640.jpg') }} alt="Chef de cuisine">
        </div>
        <div id="text-chef" class="col-md-6 text-center">
          <h2 id="tittle-chef">Une histoire de passion</h2>
            <p id="chef-2">La gastronomie est incarnée au Quai-Antique par le chef Arnaud Michant, une étoile au guide Michelin, passionné des produits et producteurs de la Savoie, <br> 
            il vous propose une expérience gastronomique à travers une cuisine sans artifices. <br>
            «Au Quai-Antique, la nature règne en maître et c’est aussi l’une des valeurs les plus importantes dans ma cuisine. Tous les jours, la cueillette du potager nous permet de proposer un plat où nous sublimons les produits de la récolte. Ils sont à leur apogée, il suffit de les agrémenter simplement et l’on obtient un plat au plus proche de la nature.»
            </p>
        </div>
      </div>
     </div> 
     <div class="row mt-5 mb-0 container-fluid">
      <div class="col-lg-4 col-sm-4 col-4">
        <figcaption>Titre de la première photo</figcaption>
        <img src={{ asset('build/images/Galerie3.jpg') }} class="w-100 h-25 shadow-1-strong img-gallery rounded mb-4" alt="Plat" data-src={{ asset('build/images/Galerie3.jpg') }}>
        <figcaption>Titre de la première photo</figcaption>
        <img src={{ asset('build/images/galerie1.jpg') }} class="w-100 h-50 shadow-1-strong img-gallery rounded mb-4" alt="Plat" data-src={{ asset('build/images/galerie1.jpg') }}>
      </div>
      <div class="col-lg-4 col-sm-4 col-4 gallery">
        <figcaption>Titre de la première photo</figcaption>
        <img src={{ asset('build/images/galerie2.jpg') }} class="w-100 h-50 shadow-1-strong img-gallery rounded mb-4" alt="Plat" data-src={{ asset('build/images/galerie2.jpg') }}>
        <figcaption>Titre de la première photo</figcaption>
        <img  src={{ asset('build/images/Galerie4.jpg') }} class="w-100 h-25 shadow-1-strong img-gallery rounded mb-4" alt="Plat" data-src={{ asset('build/images/Galerie4.jpg') }}>
      </div>
      <div class="mb-0 col-lg-4 col-sm-4 col-4 gallery">
        <figcaption>Titre de la première photo</figcaption>
        <img id="id" src={{ asset('build/images/Galerie5.jpg') }} class="w-100 h-25 shadow-1-strong img-gallery rounded mb-4" alt="Plat" data-src={{ asset('build/images/Galerie5.jpg') }}>
        <figcaption>Titre de la première photo</figcaption>
        <img  src={{ asset('build/images/Galerie6.jpg') }} class="w-100 h-25 shadow-1-strong img-gallery rounded mb-4" alt="Plat" data-src={{ asset('build/images/Galerie6.jpg') }}>
        <figcaption>Titre de la première photo</figcaption>
        <img  src={{ asset('build/images/Galerie8.jpeg') }} class="w-100 h-25 shadow-1-strong img-gallery rounded mb-4" alt="Plat" data-src={{ asset('build/images/Galerie8.jpeg') }}>
      </div>
      <div id="myModal" class="modal">
        <span id="close-button" class="close close-button">&times;</span>
        <img class="modal-content" id="modalImage">
        <div id="caption"></div>
        <button id="closeModalButton">X</button>
      </div>
      <div class="text-center mt-0">
        <a href={{ path('app_order') }} id="btn-R1" type="button" class="btn btn-light btn-lg">Réservez</a>
        <a href={{ path('app_carte') }} id="btn-M" type="button" class="btn btn-light btn-lg">Notre carte</a>
      </div>
    </div>
     <div id="main-menu2" class="container-fluid mt-3 mx-0">
      <div class="row align-items-center">
        <div id="menu2" class="col-md-7 text-center align-items-center order-0">
          <h2 id="tittle-menu2">En harmonie une carte des vins choisie pour vous</h2>
          <p id="text-menu2">Le restaurant gastronomique vous propose une carte des vins très riche représentant toutes les régions de France et quelques vins étrangers aussi. Elle fait bien sûr la part belle aux vins de notre belle région, blanc, rouge ou rosé.</p>

        </div>
        <div id="photo-menu2" class="col-md-5 text-center">
         <img class="img-fluid rounded"  src={{ asset('build/images/vin.jpg') }} alt="Vin">
        </div>
      </div>
     </div>
     <div id="main-menu3" class="container-fluid mb-2 mt-5 mx-0">
      <div class="row align-items-center">
        <div id="photo-durable" class="col-md-5 text-center">
         <img class="img-fluid rounded" src={{ asset('build/images/DD-848x378.jpg') }} alt="Arbre">
        </div>
       <div id="menu3" class="col-md-7 text-center align-items-center order-0">
        <h2 id="tittle-menu3">Une démarche durable</h2>
         <p id="text-menu3">Nous nous approvisionnons en produits locaux et de saison autant que possible, ce qui nous permet de réduire notre empreinte carbone en limitant les distances parcourues par les aliments. <br>
         Nous travaillons également avec des fournisseurs qui partagent notre engagement en faveur du développement durable et qui utilisent des méthodes de production respectueuses de l'environnement. <br>
         Chez nous, vous pourrez ainsi profiter d'un repas savoureux tout en contribuant à un avenir plus durable pour notre planète. Nous sommes fiers de notre engagement en faveur du développement durable et espérons que vous partagez cette valeur.</p>
       </div>
      </div>
    </div>
  </main>
  {% include "partials/_footer.html.twig" %}
{% endblock %}
