{% extends 'base.html.twig' %}

{% block title %}Créez un compte * Quai-Antique{% endblock %}

{% block body %}
	{% include "partials/_header.html.twig" %}
    <div id="register-form" class="container-fluid">
      <div class="row">
        <div class="card col-md-6 offset-md-3 mb-3 d-flex">
            <div class="p-lg-5">
              <div>
                {{ form_start(registrationForm) }}
					       <h2 class="text-center">Créer un compte</h2>
                  <div class="fw-bold text-left mt-3">
                      {{ form_row(registrationForm.email, {label: 'Email', 'attr': {'class': 'form-control'}}) }}
                  </div>
			            <div class="fw-bold text-left mt-3">
			             {{ form_row(registrationForm.name, {label: 'Nom', 'attr': {'class': 'form-control'}}) }}
			            </div>
                  <div class="fw-bold text-left mt-3">
			             {{ form_row(registrationForm.allergies, {label: 'Avez-vous des allergies ?', 'attr': {'class': 'form-control'}}) }}
			            </div>
			            <div class="fw-bold text-left mt-3">
                   {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe', 'attr': {'class': 'form-control'}}) }}					
                  </div>
                  <div class="fw-bold text-left mt-3">
                  {{ form_row(registrationForm.agreeTerms, {
                  label: 'J\'accepte les termes d\'utilisation'}) }}
                  </div>
			            <div class="text-center mt-2"><button id="btn-connexion" type="submit" class="btn btn-primary text-center">Créer un compte</button>
                   {{ form_end(registrationForm) }}
			            </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  {% include "partials/_footer.html.twig" %}
{% endblock %}


 
 

  
		