<footer>
    <div class="footer">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-md-3 item">
           <ul>
             <li><a href={{path ('app_home') }}>Accueil</a></li>
             <li><a href={{path ('app_carte') }}>Notre carte</a></li>
             <li><a href={{path ('app_login') }}>Connexion</a></li>
             <li><a href={{path ('app_order') }} id="btn-R3" type="button" class="btn btn-light btn-lg" >Réservez</a></li>
           </ul>
         </div>
         <div class="col-sm-6 col-md-3">
           <h4 id="horaire">Horaires d'ouverture</h4>
             <p>Du mardi au dimanche</p>
             <p>De 19h30 à 23h30</p>
             <p><i class="fa-sharp fa-solid fa-phone"></i>04.00.00.00</p> 
             
          </div>
          <div class="col-md-6 item text">
            <a class="navbar-brand" a href={{path ('app_home') }}>
            <img id="logo-2" src={{ asset('build/images/Logo.png') }} alt="logo" height="40px"></a>
             <h3>Le Quai-Antique</h3>
               <p>Chaque plat est une rencontre personnelle qui se poursuit au-delà de la table par un environnement préservé et une quiétude cultivée. Réserver une table au Quai-Antique, c’est faire un deuxième voyage.</p>
          </div>
          <p class="p-social">SUIVEZ-NOUS AUSSI ICI</p>
          <div class="col item social"><a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a><a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a><a href="https://snapchat.com"><i class="fa-brands fa-snapchat"></i>
          </i></a><a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                 </div>
          </div>
            <p class="copyright">Le Quai-Antique © 2018 - Tous les droits réservés - Thatiane BONNARDEL STUDI
              <a href="https://github.com/Thatyc?tab=repositories" target="_blank">
                <i class="fa-brands fa-github"></i>
              </a>
            </p>
         </div>
      </div>
     </footer>