<nav id="nav" class="navbar navbar-expand-lg py-2 navbar-light fixed-top" style="background-color:#ffffff;">
      <div class="container-fluid">
        <a class="navbar-brand" href={{ path ('app_home')}}>
          <img id="logo" src={{ asset('img/Logo.png') }} alt="logo" height="80px"></a>
          <h1 class="title">Le Quai-Antique</h1>
          <button class="navbar-toggler" style="color: rgba(182, 161, 118, 1);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href={{ path ('app_home')}}>Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{path ('app_carte') }}>Notre carte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{ path('app_login') }}>Connexion</a>
            </li>
          </ul>
          <a href="#" id="btn-N" class="btn fw-bold">Réservez</a>
        </div>
      </div>
    </nav>