{% extends 'base.html.twig' %}

{% block title %}Réservez votre table * Quai-Antique{% endblock %}

{% block body %}
  {% include "partials/_header.html.twig" %}
  <main>
    <div id="main-reserve" class="container-fluid">
      <div class="row">
        <div class="col-md-7 offset-md-3">
         <div class="card cardbody-color my-3">
            {% for flashMessage in app.flashes('error') %}
            <div class="alert alert-danger">
            {{ flashMessage }}
             </div>
            {% endfor %}
            {% set successMessages = app.session.flashbag.get('success') %}
            {% if successMessages is not empty %}
              <div class="alert alert-success">
                {{ successMessages[0] }}
              </div>
            {% endif %}
            {{ form_start(form, {'attr': {'class': 'reservation-form'}}) }}
              <h2 class="text-center mt-3 mb-2">Réservez votre table</h2>
              
              <div class="mt-2 mb-3 fw-bold">
                {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3 fw-bold">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3 fw-bold">
                {{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3 fw-bold">
                {{ form_row(form.allergies, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div id="order_date" class="mb-3 fw-bold">
                {{ form_row(form.date, {'attr': {'id': 'date-field', 'class': 'form-control'}}) }}
              </div>
              <div id="order_heure" class="mb-3 fw-bold">
               {{ form_label(form.heure, 'Heure') }}
               {{ form_widget(form.heure, { 'attr': {'value': form.vars.value.getHeure()|date('H:i'), 'class': 'form-control'} }) }}
              </div>
              <div class="mb-3 fw-bold">
                {{ form_row(form.person, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="text-center mb-3">
                 <button id="btn-reserver" class="btn btn-lg">
                    Réserver
                 </button>
              </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include "partials/_footer.html.twig" %}
{% endblock %}
