{% extends 'base.html.twig' %}

{% block title %}Réservez votre table * Quai-Antique{% endblock %}

{% block body %}
  {% include "partials/_header.html.twig" %}
  <main>
    <div id="main-reserve" class="container-fluid">
      <div class="row">
        <div class="col-md-7 offset-md-3">
         <div class="card cardbody-color mt-5 my-3">
            {% set successMessages = app.session.flashbag.get('success') %}
            {% if successMessages is not empty %}
              <div class="alert alert-success">
                {{ successMessages[0] }}
              </div>
            {% endif %}
            {{ form_start(form) }}
              <h2 class="text-center mt-0 mb-2">Réservez votre table</h2>
              
              <div class="mt-2 mb-3 ml-1 text-center">
                {{ form_row(form.name) }}
              </div>
              <div class="mb-3 text-center">
                {{ form_row(form.email) }}
              </div>
              <div class="mb-3 text-center">
                {{ form_row(form.phone) }}
              </div>
              <div class="mb-3 text-center">
                {{ form_row(form.allergies) }}
              </div>
              <div class="mb-3 text-center">
                {{ form_row(form.person) }}
              </div>
              
              <div id="order_date" class="mb-3 text-center">
                {{ form_row(form.date) }}
              </div>
              <div class="mb-3 text-center">
               {{ form_label(form.heure, 'Heure') }}
               {{ form_widget(form.heure, { 'attr': {'value': form.vars.value.getHeure()|date('H:i')} }) }}
              </div>
              <div class="text-center mb-3">
                 <button id="btn-reserver" class="btn btn-lg">
                    Réserver
                 </button>
              </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include "partials/_footer.html.twig" %}
{% endblock %}
